* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	color: #ffffff;
	background-color: #4169e1;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}

h1 {
	justify-content: center;
	margin-top: 50px;
}
